@import "reset.scss";

* {
  box-sizing: border-box;
}

$main-color: #121312;
$main-font: 'Patua One', cursive;
$text-font: 'Zilla Slab', serif;

.background-left {
  background-image: url("/css/pictures/backgroundshiski__left.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: left;
}

.background-right {
  background-image: url("/css/pictures/backgroundshiski__right.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: right;
}

body {
  font-family: $text-font;
  font-size: 100%;
  background-color: $main-color;
  color: white;  
}

header {
  width: 100%;
  height: 60px;
  padding-left: 20px;  
  position: relative;
  .header-logotypes__image {
    width: 100px; 
    height: 60px;
  }
}

.main-screen {
  width: 100%;
  background-position: 100% 120px;
  .main-screen__wrapper {
    .main-screen__text-photo-wrap {
      position: relative;
      .main-screen__photo {
        height: 100%;
        .main-screen__portrait {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }
      .main-screen__text {
        padding-left: 20px;
        .main-screen__text-wrap { 
          .main-screen__name-surname {
            width: 150px;
            font-family: $main-font;
            font-size: 2.3em;
            padding-bottom: 10px;
            padding-top: 15px;
          }
          .main-screen__profession {
            width: 150px;
            font-size: 1.2em;
            border-top: 1px solid white;
            padding-top: 10px;
          }
        } 
      }
    }
  
    .main-screen__social-links { 
      padding-left: 20px; 
      margin-top: 10px;
      display: flex;
      align-items: center;
      .social-links__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .social-links__link {
          display: block;
          margin-right: 15px;
          .social-links__icon:hover {
            transform: scale(1.5);
            transition: 100ms;
            animation-timing-function: ease-in;
            filter: drop-shadow(10px 5px 2px #000000); 
          }
        }
      }
    }
  }
}


.common-block {
  width: 100%;
  padding: 20px;
  .common-block__item {
    display: flex;
    flex-direction: column;
    .common-block__title {
      align-self: center;
      font-size: 1.3em;
      padding-bottom: 2px;
      border-bottom: 2px solid white;
    }
    .common-block__text {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .common-block__list {
      font-size: 1.3em;
      margin-top: 15px;
      .skill-list {
      line-height: 27px;
        #html {
        background-image: url(/css/Icons/HTML.svg);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 40px;
        }
        #css {
          background-image: url(/css/Icons/CSS.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #javascript {
          background-image: url(/css/Icons/JS.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px;
        }
        #sass {
          background-image: url(/css/Icons/Sass.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #photoshop {
          background-image: url(/css/Icons/Ps.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #illustrator {
          background-image: url(/css/Icons/Ai.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #lightroom {
          background-image: url(/css/Icons/Lr.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #figma {
          background-image: url(/css/Icons/Figma.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
      }
      .hobbies-list {
        margin-bottom: 20px;
        font-size: 0.8em;
        line-height: 25px;
      }
    }
  }  
}

.footer-logotypes {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  border-top: 1px solid white;
  .footer-logotypes__image {
    width: 60px;
    height: 50px;
  }
}

@media (min-width: 520px) {
  .background-left {
    background-size: 270px;
  }
  .background-right {
    background-size: 270px;
  }
  .main-screen {
    background-position: 100% 80%;
    .main-screen__wrapper {
      .main-screen__text-photo-wrap { 
        .main-screen__text {
          padding-left: 40px;
          .main-screen__text-wrap {
            width: 250px;
            .main-screen__name-surname {
              width: 100%;
              font-size: 3em;
            }
            .main-screen__profession {
              width: 100%;
              font-size: 2em;
            }
          }
        }
      }
      .social-links__list {
        padding-left: 20px; 
        .social-links__icon {
          width: 40px;
          height: 40px;
          margin-right: 5px;
        }
      }
    }
  }
  .common-block {
    padding: 40px;
  }
  .footer-logotypes {
    margin-left: 40px;
    margin-right: 40px;
    .footer-logotypes__image {
      width: 70px;
      height: 50px;
    }
  }
}

@media (min-width: 1024px) {
  .background-left {
    background-size: 24%;
  }
  .background-right {
    background-size: 24%;
  }
  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    width: 100%;
    .header-logotypes__image {
      width: 55%;
      height: 60%;
    }
  }

  .main-screen {
    height: 90vh;
    width: 100%;
    .main-screen__wrapper {
      width: 100%;
      height: 100%;
      .main-screen__text-photo-wrap {
        height: 85%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .main-screen__photo {
          height: 100%;
          .main-screen__portrait {}
        }
        .main-screen__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          width: 28%;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.3);
          .main-screen__text-wrap {
            width: 100%;
            .main-screen__name-surname {
              font-size: 4.5vw;
            }
            .main-screen__profession {
              width: 80%;
              font-size: 2.5vw;
            }
          }
        }
      }
      .main-screen__social-links {
        height: 15%;
        width: 100%;
        padding-left: 30px;
        margin-top: 0px;
        .social-links__list {
          .social-links__link {}
          .social-links__icon {
            width: 3.7vw;
            height: 3.7vw;
          }
        }
      }
    }
  }
  .common-block {
    padding: 80px;
    padding-top: 20px;
    .common-block__item {
      .common-block__title {
        font-size: 1.7em;
        margin-bottom: 20px;
      }
      .common-block__text {
        font-size: 1.4em;
        margin-top: 30px;
      }
      .common-block__list {
        font-size: 1.8em;
        
        .skill-list {
          .skill-list_item {
            line-height: 35px;
          }
        }
        .hobbies-list {
          margin-bottom: 20px;
          .hobbies-list_item {
            line-height: 35px;
          }
        }
      }
    }
  }
  .footer-logotypes {
    margin-left: 80px;
    margin-right: 80px;
    .footer-logotypes__image {
      width: 80px;
      height: 70px;
    }
  }
}