@import "reset.scss";

* {
  box-sizing: border-box;
}

$main-color: #121312;
$submain-color: #4A000A;
$main-font: 'Roboto Slab', serif;
$text-font: 'Roboto Slab', serif;

.background-red {
  background-image: url(/css/pictures/gray_line.svg);
  background-repeat: no-repeat;
}

.background-grey {
  background-image: url(/css/pictures/red_line.svg);
  background-repeat: no-repeat;
}



.submain-color-contain {
  background-color: $submain-color;
}

body {
  font-family: $text-font;
  font-size: 100%;
  background-color: $main-color;
  color: white;  
}

header {
  width: 100%;
  height: 10vh;
  padding-left: 20px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  .header-logotypes__image {
    width: 150px; 
    height: 60px;
  }
}


.main-screen {
  width: 100%;
  height: 90vh;
  .main-screen__wrapper {
    height: 100%;
    .main-screen__text-photo-wrap {
      position: relative;
      .main-screen__photo {
        .main-screen__portrait {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }
      .main-screen__text {
        padding-left: 20px;
        .main-screen__text-wrap { 
          .main-screen__name-surname {
            width: 50%;
            font-family: $main-font;
            font-weight: bold;
            font-size: 2.3em;
            padding-bottom: 10px;
            padding-top: 15px;
          }
          .main-screen__profession {
            width: 50%;
            font-size: 1.2em;
            border-top: 2px solid white;
            padding-top: 10px;
          }
        } 
      }
    }
  
    .main-screen__social-links { 
      padding-left: 20px; 
      margin-top: 10px;
      display: flex;
      align-items: center;
      .social-links__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .social-links__link {
          display: block;
          margin-right: 15px;
          .social-links__icon:hover {
            transform: scale(1.5);
            transition: 100ms;
            animation-timing-function: ease-in;
            filter: drop-shadow(10px 5px 2px #000000); 
          }
        }
      }
    }
  }
}


.common-block {
  width: 100%;
  .common-block__item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    .common-block__title {
      align-self: flex-start;
      width: 11em;
      height: 3em;
      font-size: 1.3em;
      padding-top: 12px;
      padding-bottom: 2px;
      padding-left: 30px;
      background-size: cover;
    }
    .common-block__text {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .common-block__list {
      font-size: 1.3em;
      margin-top: 15px;
      .skill-list {
      line-height: 27px;
        #html {
        background-image: url(/css/Icons/HTML.svg);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 40px;
        }
        #css {
          background-image: url(/css/Icons/CSS.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #javascript {
          background-image: url(/css/Icons/JS.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px;
        }
        #sass {
          background-image: url(/css/Icons/Sass.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #photoshop {
          background-image: url(/css/Icons/Ps.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #illustrator {
          background-image: url(/css/Icons/Ai.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #lightroom {
          background-image: url(/css/Icons/Lr.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #figma {
          background-image: url(/css/Icons/Figma.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
      }
      .hobbies-list {
        margin-bottom: 20px;
        font-size: 0.8em;
        line-height: 25px;
      }
    }
  }
}



.footer-logotypes {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  border-top: 1px solid white;
  .footer-logotypes__image {
    width: 60px;
    height: 50px;
  }
}

@media (min-width: 370px) {
  header {
    padding-left: 30px;
    .header-logotypes__image {
      width: 180px; 
      height: 60px;
    }
  }

  .main-screen {
    .main-screen__wrapper {
      .main-screen__text-photo-wrap { 
        .main-screen__text {
          padding-left: 30px;
          padding-top: 20px;
          padding-bottom: 25px;
          .main-screen__text-wrap {
            width: 250px;
            .main-screen__name-surname {
              width: 100%;
              font-size: 2.7em;
            }
            .main-screen__profession {
              width: 90%;
              font-size: 1.7em;
            }
          }
        }
      }
      .social-links__list {
        padding-left: 15px; 
        .social-links__icon {
          width: 45px;
          height: 45px;
          margin-right: 10px;
        }
      }
    }
  }
  .common-block {
    .common-block__item {
      padding: 30px;
    } 
  }
  .footer-logotypes {
    margin-left: 40px;
    margin-right: 40px;
    .footer-logotypes__image {
      width: 70px;
      height: 50px;
    }
  }
}

@media (min-width: 1024px) {
  header {
    padding-left: 40px;
    .header-logotypes__image {
      width: 200px;
      height: 60px;
    }
  }

  .main-screen {
    width: 100%;
    .main-screen__wrapper {
      width: 100%;
      height: 100%;
      .main-screen__text-photo-wrap {
        height: 85%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .main-screen__photo {
        }
        .main-screen__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          width: 28%;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.3);
          .main-screen__text-wrap {
            width: 100%;
            .main-screen__name-surname {
              font-size: 4.5vw;
            }
            .main-screen__profession {
              width: 80%;
              font-size: 2.5vw;
            }
          }
        }
      }
      .main-screen__social-links {
        height: 15%;
        width: 100%;
        padding-left: 30px;
        margin-top: 0px;
        .social-links__list {
          .social-links__link {}
          .social-links__icon {
            width: 3.7vw;
            height: 3.7vw;
          }
        }
      }
    }
  }
  .common-block {
    padding: 80px;
    padding-top: 20px;
    .common-block__item {
      padding: 40px;
      .common-block__title {
        font-size: 1.7em;
        margin-bottom: 20px;
      }
      .common-block__text {
        padding-left: 60px;
        font-size: 1.2em;
        margin-top: 30px;
      }
      .common-block__list {
        font-size: 1.6em;
        padding-left: 60px;
        .skill-list {
          .skill-list_item {
            line-height: 35px;
          }
        }
        .hobbies-list {
          margin-bottom: 20px;
          .hobbies-list_item {
            line-height: 35px;
          }
        }
      }
    }
  }
  .footer-logotypes {
    margin-left: 80px;
    margin-right: 80px;
    .footer-logotypes__image {
      width: 80px;
      height: 70px;
    }
  }
}