@media (min-width: 550px) {
    header {
      padding-left: 30px;
      .header-logotypes__image {
        width: 180px; 
        height: 60px;
      }
    }
  
    .main-screen {
      .main-screen__wrapper {
        .main-screen__text-photo-wrap { 
          height: 100%;
          .main-screen__text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            .main-screen__text-wrap {
              padding-left: 25px;
              align-self: flex-start;
              .main-screen__name-surname {
                padding-top: 0px;
                font-size: 2.8em;
              }
              .main-screen__profession {
                font-size: 1.5em;
              }
            }
            .main-screen__social-links {
              .social-links__list {
                padding-right: 20px; 
                .social-links__icon {
                  width: 45px;
                  height: 45px;
                  margin-right: 10px;
                }
              }
            }
          }
        }  
      }
    }
    .common-block {
      .common-block__item {
        padding: 30px;
      } 
    }
    .footer-logotypes {
      margin-left: 40px;
      margin-right: 40px;
      .footer-logotypes__image {
        width: 70px;
        height: 50px;
      }
    }
  }