@import "./modules/_reset.scss";
@import "./modules/_preloader.scss";

* {
  box-sizing: border-box;
}

$main-color: #121312;
$submain-color: #4A000A;
$main-font: 'Roboto Slab', serif;
$text-font: 'Roboto Slab', serif;

.background-red {
  background-image: url(../resources/svg/gray_line.svg);
  background-repeat: no-repeat;
}

.background-grey {
  background-image: url(../resources/svg/red_line.svg);
  background-repeat: no-repeat;
}

.submain-color-contain {
  background-color: $submain-color;
  
}

.text-link {
  color: red;
  &:hover {
    border-bottom: 1px solid red; 
  }
}

body {
  font-family: $text-font;
  font-size: 100%;
  background-color: $main-color;
  color: white;
}

header {
  width: 100%;
  height: 10vh;
  padding-left: 20px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  .header-logotypes__image {
    width: 150px; 
    height: 60px;
  }
}

.main-screen {
  width: 100%;
  height: 90vh;
  .main-screen__wrapper {
    height: 100%;
    .main-screen__text-photo-wrap {
      height: 85%;
      .main-screen__photo {
        height: 60%;
        .main-screen__portrait {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .main-screen__text {
        height: 40%;
        padding-left: 20px;
        .main-screen__text-wrap { 
          .main-screen__name-surname {
            display: table;
            font-family: $main-font;
            font-weight: bold;
            font-size: 2.3em;
            padding-bottom: 10px;
            padding-top: 15px;
            border-bottom: 2px solid white;
          }
          .main-screen__profession {
            display: table;
            font-size: 1.2em;
            padding-top: 10px;
          }
        }
        .main-screen__social-links { 
          margin-top: 15px;
          display: flex;
          align-items: center;
          .social-links__list {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .social-links__link {
              display: block;
              margin-right: 15px;
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
              -webkit-tap-highlight-color: transparent;
            }
            .social-links__link:hover {
              .social-links__icon {
                transform: scale(1.5);
                transition: 100ms;
                animation-timing-function: ease-in;
                filter: drop-shadow(10px 5px 2px #000000); 
              }
            }
          }
        } 
      }
    } 
  }
}

.common-block {
  width: 100%;
  .common-block__item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    .common-block__title {
      align-self: flex-start;
      width: 11em;
      height: 3em;
      font-size: 1.3em;
      padding-top: 12px;
      padding-bottom: 2px;
      padding-left: 30px;
      background-size: cover;
    }
    .common-block__text {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .common-block__list {
      font-size: 1.3em;
      margin-top: 15px;
      .skill-list {
      line-height: 32px;
        #linux {
          background-image: url(../resources/svg/linux.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: -3px center;
          padding-left: 40px;
        }
        #windows {
          background-image: url(../resources/svg/windows.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: -5px center;
          padding-left: 40px;
        }
        #html {
          background-image: url(../resources/svg/HTML.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px;
        }
        #css {
          background-image: url(../resources/svg/CSS.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #javascript {
          background-image: url(../resources/svg/JS.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px;
        }
        #git {
          background-image: url(../resources/svg/Git.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px;
        }
        #sass {
          background-image: url(../resources/svg/Sass.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #photoshop {
          background-image: url(../resources/svg/Ps.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #illustrator {
          background-image: url(../resources/svg/Ai.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #lightroom {
          background-image: url(../resources/svg/Lr.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
        #figma {
          background-image: url(../resources/svg/Figma.svg);
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 40px; 
        }
      }
      .hobbies-list {
        margin-bottom: 20px;
        font-size: 0.8em;
        line-height: 25px;
      }
    }
  }
}

.footer-logotypes {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  border-top: 1px solid white;
  .footer-logotypes__image {
    width: 60px;
    height: 50px;
  }
}

@import "./modules/_tablet.scss";
@import "./modules/_desktop.scss";
